.photo {
    max-height: 160px;
    border: 1px solid #c5e7c6;
    margin-left: 30px;
}

.student_info_card{
    padding-left: 40px;
    padding-top: 0px;
}

.studentinfo{
    list-style:none;
    float:left;
    width:200px;
    overflow:hidden;

}

.studentinfolist{
    margin-left: 0px;
}

td > button{
    width: 140px;
    height: 140px;
    font-size: 22px !important;
}

th,td{
    text-align: center !important;
}

.submit{
    margin-top: 40px;
    text-align: right;
    width: inherit;
    padding-right: 45px;
}

.submit .btn{
    margin-left: 20px;
    width: 110px;
}